body{
  background-color: #111111;
  color: whitesmoke;
}
section{
  position: relative;
  overflow: hidden;
  width: 960px;
  margin: auto;
  text-align: center;
}

div{
  float: left;
}

img{
  width: 200px;
  height: 200px;
}

#pics{
  float: left;
}

